*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #fbabc7;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    font: 18px normal 'Roboto', 'Varela Round', sans-serif, Helvetica, serif;
    color: #777B7E;
    text-transform: capitalize;
}

.wrapper,  
.dayWrapper,
.nightWrapper {
    background: #ffc3e1;
    font: 1em 'Roboto', 'Varela Round', sans-serif, Helvetica, serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    align-self: center;
    justify-content: center;
}

.nightWrapper {
    background-color: #420056;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    border: none;
}

#searchIcon, #weatherStatusIcon {
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1 / 4;
    align-content: center;
    justify-content: center;
    align-self: center;
    z-index: 1;

}


#weatherStatusIcon{
    min-width: 250px;
    min-height: 250px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    border-radius: 0px;
}

form{
    max-width: 100%;
    width: 100%;
    background: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(2, 1fr);
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
}

/* styles for the input fields */
input {
    font-family: 'Roboto', 'Varela Round', sans-serif, Helvetica, serif;
    font-size: 18px;
    padding: 31px 0;
    margin: 10px 0;
    text-align: center;
    border: none;
    color: #F62C73;
    background: #FBABC7;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-content: center;
    box-shadow: none;
    transition: box-shadow 0.53s cubic-bezier(0.41,-0.41, 0.6, 1.56);
}
/* change the placeHolder color */
input::-webkit-input-placeholder {
    color: #F62C73 !important;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #F62C73 !important;  
}
    
input::-moz-placeholder {  /* Firefox 19+ */
    color: #F62C73 !important;  
}
    
input:-ms-input-placeholder {  
    color: #F62C73 !important;
}
input:focus{
    outline: none;
    -webkit-box-shadow: 0px -7px 0px 0px #F62C73;
    -moz-box-shadow: 0px -7px 0px 0px #F62C73;
    box-shadow: 0px -7px 0px 0px #F62C73;
}

/* styles for the input field */

#placename {
    margin: 20px 0 0;
}

.button {
    display: block;
    border-color: #F62C73;
    background-color: #F62C73;
    color: #fff;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-content: center;
    padding: 31px 0;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    transition: background 0.6453s ease-out;
    /* background-size: contain;
    background-position: left; */
    max-width: 100%;
}
a, a:visited {
    color: #F62C73;
    text-decoration: none;
}

a.button, 
a.button:visited{
    color: white;
    text-decoration: none;
    font-weight: normal;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: #ffffff;
    background: #F62C73;
}
a.button:link,    
.button:link{
    background: #F62C73;;
}
a.button:visited,
.button:visited{
    background: #F62C73;;
}
a.button:hover,
.button:hover{
    background: #7B163A;
}
a.button:active
.button:active{
    background: #F62C73;
    /* url("images/searchIcon.svg") no-repeat right; */
}

#error {
    width: 100%;
    padding: 22px;
    background: #E6E6E6;
    color: #F62C73;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 4;
}

#weather {
    margin-top: 1rem;
    padding-top: 1rem;
    background: #fff;
    color: #F62C73;
    border: none;
    max-width: 100%;
    width: 100%;
    background: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(auto-fill, min-max(1rem, 1fr));
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
}


.temperature{
    font-size: 5rem;
    margin-top: 3rem;
    padding-top: 1rem;
    color: #F62C73;
    grid-column: repeat(auto-fill, min-max(1rem, 1fr));
    grid-row: repeat(auto-fill, min-max(1rem, 1fr));
    align-self: center;
    justify-content: center;
    z-index: 5;
    letter-spacing: -5px;
    font-weight: normal;
}



li {
    display: block;
    width: 100%;
    font-weight: bold;
    margin: 0;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-content: center;
}

li:nth-of-type(1){
    grid-column: 1;
    grid-row: 1;
}
li:nth-of-type(2){
    grid-column: 1;
    grid-row: 2;
}
li:nth-of-type(3){
    grid-column: 1;
    grid-row: 3;
}
li:nth-of-type(4){
    grid-column: 1;
    grid-row: 4;
}
li:nth-of-type(5){
    grid-column: 1;
    grid-row: 5;
}
li:nth-of-type(6){
    grid-column: 1;
    grid-row: 6;
}
li:nth-of-type(7){
    grid-column: 1;
    grid-row: 7;
}
li:nth-of-type(8){
    grid-column: 1;
    grid-row: 8;
}
li:nth-of-type(9){
    grid-column: 1;
    grid-row: 9;
}


span {
    color: #F62C73;
    font-weight: bold;
}

.blank{
    color: transparent;
}
p.copyright{
    grid-row: 5;
    grid-column: 2;
    align-self: end;
    color: #F62C73;
}
.copyright>span{
    font-size: 1.52em;
}

/* animations for the page */
.animated {
    animation-duration: 3.4s;
    animation-fill-mode: both;
}
  
.animated.infinite {
    animation-iteration-count: infinite;
}
  

@keyframes pulse {
    from {
    transform: scale3d(1, 1, 1);
    }

    50% {
    transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
    transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

/* for animations */


/* the page loader styling... */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #F62C73;
    border-radius: 50%;
    border-top: 16px solid #FBABC7;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

  
    /* style the loader  */
    
    

    @keyframes fadeIn {
        to {
        opacity: 1;
        }
        }
        
        .fade-in {
        opacity: 0;
        animation: fadeIn .65s ease-in 1 forwards;
        }
    
    .wrapper {
    display: none;
    text-align: center;
    }
/* set the wrapper display to none for the page loader effect */


@media(min-width: 0px){
    #sun, #moon{
        display: none;
    }
}


@media(min-width: 500px){
    input{
        width: 360px;
    }
    #searchIcon, #weatherStatusIcon{
        margin-top: 15px;
    }
    
}

@media(min-width: 1060px){
    #sun, #moon{
        display: block;
    }
    #sun{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    #moon{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 100%;
        z-index: 2;
        align-content: left;
        justify-content: left;
        align-self: left;
        margin-left: 50%;
        margin-right: 0;
        
    }

}
@media(min-width: 1190px) {
    
    .wrapper,
    .dayWrapper,
    .nightWrapper{
        width: 75vw;
        height: 90vh;
        max-width: 100%;
        max-height: 70%;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 1rem;
        align-self: center;
        justify-content: center;
    }

    #searchIcon, #weatherStatusIcon{
        margin-bottom: 1.5rem;
    }
}

