extends layout

block main
	#loader
		div
		div
		div
	.wrapper.fade-in
		#error
			p
				| An error occured. Please refresh the page or try again later. (Maybe a storm blew our database away...)
			p
			if error, message
				p For geeks: #{error}, #{message}.
		img#searchIcon.animated.infinite.pulse(src="/static/img/searchIcon.svg" alt="search the weather icon")
		img#sun.animated.infinite.pulse(src="/static/img/sun.svg" alt="Sun icon")
		img#moon.animated.infinite.pulse(src="/static/img/moon.svg" alt="Moon icon")
		form(action="/" method="GET")
			input#placename(style="opacity: 0" type="text" placeholder="Search For Weather" name="placename")
			input.button(type="submit" value="try again")
